/*ByTSRP*/
h1 {color:FF6633;font-size:50px;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;}
h2 {text-align: left;color:white;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;}
h3 {text-align: right;color:#666666;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;}
h4 {text-align: right;color:red;background-color: gray;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;}
h5 {text-align: right;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;}
body {background-color: #66CCFF;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;}
ul {list-style:none;font-family: Microsoft YaHei, 微软雅黑, 黑体, SimHei, Verdana, sans-serif;} 
.center {text-align: center;}
.left {text-align: left}
.right {text-align: right}
.green {color: #22CC22}
.LuoTianyiBlue {color: #66CCFF}
.BackgroundColorLuoTianyiBlue {background-color: #66CCFF}
.red {color: #CC2222}
.blue {color: #2222CC}
.title {text-align: center;font-size:50px;font-family: Verdana, sans-serif;}
.sub {display:none;}