/*ByTSRP*/
h1 {text-align: center;color:green;font-size:50px;font-family: Verdana, sans-serif;}
h2 {text-align: left;color:white}
h3 {text-align: right;color:#aaaaaa}
h4 {text-align: right;color:red;background-color: gray}
h5 {text-align: center;}
body {background-color: #000055;}
a {background-color: gray;color:red}