body{
	margin:0px;
	padding:0px;
}

.headbar{
	height:5%;
	background-color:#111111;
	cursor: default;
	font-size:21px;
}
.thinhb{
	display:inline;
	padding:1%;
	height:5%;
	width:10%;
	background-color:#111111;
}
.foinhb{
	color:#EEEEEE;
	font-family: "Microsoft YaHei UI","Microsoft YaHei", 微软雅黑, 黑体, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color:#111111;
}
.button{
	display:inline;
	padding:2% 1% 1% 1%;
	height:6%;
	width:10%;
	background-color:#111111;
}
.button:hover{
	display:inline;
	padding:2% 1% 1% 1%;
	height:6%;
	width:10%;
	background-color:#222222;
}